[submodule "XutaBE"]
	path = XutaBE
	url = https://github.com/FilipeBispo/XutaBE.git
[submodule "Xuta-fe"]
	path = Xuta-fe
	url = https://github.com/andreloureiro88/Xuta-fe.git
[submodule "XutaLandingPage"]
	path = XutaLandingPage
	url = https://github.com/FilipeBispo/XutaLandingPage.git
